
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>My apps</h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/JNQJZw">Five Function Js Calculator <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/JNQJZw"></iframe>
                <br /><br /><br /><br /><br />
            </div>
         
        
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/GmwENG">Twitch Stream Status UI <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/GmwENG"></iframe>
                <br /><br /><br /><br /><br />
            </div>
            
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/mwyogj">Weather App <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/mwyogj"></iframe>
                <br /><br /><br /><br /><br />
            </div>
            
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/KmGGPR">Wikipedia Search <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/KmGGPR"></iframe>
                <br /><br /><br /><br /><br />
            </div>
            
            
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/JNZQWm">Random Quote Generator <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/JNZQWm"></iframe>
                <br /><br /><br /><br /><br />
            </div>
            
            
            <div class="col-xs-12">
                <h2>
                    <a target="_blank" href="https://codepen.io/Bburtson/pen/QvrqPd">Tribute Page <small>(Click to view on codepen)</small></a>
                </h2>
            </div>
            <div class="col-xs-12">
                <iframe id="iframe-container" src="https://codepen.io/Bburtson/full/QvrqPd"></iframe>
                <br /><br /><br /><br /><br />
            </div>

        </div>
    </div>
</div>