@{
    ViewBag.Title = "Workout Planner";

}
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div id="description-content" class="well">
                    <h2>Primary Technologies</h2>
                    <br />
                    <ul class="list-unstyled">
                        <li>.NET Core</li>
                        <li>SQL Server 2016</li>
                        <li>EF Core/MVC 6</li>
                        <li>Identity Framework</li>
                        <li>Angular JS</li>
                    </ul>
                    <br />
                    <h2>Description</h2>
                    <p>
                        This app was started to solve a problem for my wife.  She requested a workout calendar similar to google calendar but much simpler.
                        The goal was to be able to quickly add her meal/snack plans and eventually implement features be able to store reference data to a workout she was eyeing on a blog.
                        This was a fun project and give me the opportunity to work with Identity framework and as always get more time behind the wheel, that is, Angular JS.
                        This app has active subscribers using it right now. 
                        
                        <br />
                        <br />
                        Here is a public account for a demonstration if you are interested.
                        <ul class="list-unstyled">
                            <li><b>User Id: </b> devdemo@burtson.com</li>
                            <li><b>Password: </b> Password1!</li>
                        </ul>
                        or feel free to <a target="_blank" href="http://workout.burtson.com/Account/Register"> create your own account</a><br/><br />

                        <br />
                        <br />
                        <div class="container-fluid">
                            <div class="row">
                                <a target="_blank" href="http://workout.burtson.com"><h4 class="col-lg-12">Demo Workout Planner</h4></a>
                                <br />

                                <a target="_blank" href="http://workout.burtson.com">
                                    <img class="img-responsive col-lg-12" src="https://www.burtson.com/cloud/junkdrawer/workout_snapshot.png" alt="Traffic Violation heatmap" />
                                </a>
                            </div>
                        </div>
                        <br />
                        <span class="text-muted">
                            **If you encounter an error of have feedback please feel free to <a asp-controller="Home" asp-action="Contact">contact me</a> with a description of the bug, or feedback of any sort, Regards.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

