
<div class="col-md-6 col-md-offset-3">
    <div class="page-header">
        <h2>Me</h2>
    </div>
    <div class="well">
        This page will be implemented soon.
        <p>I enjoy fishing developing and I love spending time with my wife when we arent so busy!</p>
    </div>
</div>