
<div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="page-header">
        <h1>Certification</h1>
    </div>
    <div class="row">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-md-4">
                            <br /><br /><br />
                            <a href="https://www.freecodecamp.com/bburtson">
                                <img class="img-responsive black grow" src="~/images/freecodecamp_icon.png" />
                            </a>
                            <br />
                            <a href="https://www.codepen.io/bburtson">
                                <img class="img-responsive grow" src="~/images/codepen_icon.png" />
                            </a>
                            
                            <br />
                        </div>
                        <br /><br />
                        <div class="col-xs-12 col-md-8">
                            <p>
                                In the midst of working 10-14 hours I managed grab this certification from Free Code Camp.
                                To my suprise It ended up being a rigorous curriculum. I managed to get it done in approximately a month.
                                No this is not the norm, and it was not a piece of cake.
                                Yes, I am tooting my own horn here the victorys still a bit fresh.
                                I'm grateful for the opputunity. Additionally, if you are generous and blessed.
                                I would encourage you to donate! Free Code Camp is a 5013C organization.
                                They have created opportunities for people, and they provide good council to anyone willing to educate themselves. FOR FREE!
                                I'm all for instilling confidence, and keeping folks off the couch!
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <br /><br /><br />
                        </div>
                        <div id="winner"class="col-xs-12">
                            <img class="img-responsive" src="~/images/fcc_cert.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


