@model IEnumerable<string>

@{
    int i = 0;


    @foreach (var location in Model)
    {
        <div class="well well-lg">
            <label class="label label-info">Location# @i </label>
            <span>@location</span>
        </div>
        i++;
    }
}

