@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Welcome.</h1>
        </div>

   
            <div class="well">
                <h3>Portfolio</h3>
                <div class="container-fluid">
                    <p>
                        <br />
                        Thanks for stopping by please have a look at my applications and projects. All applications showcased on this portfolio were developed by me.
                        I hope I will have the opportunity to be able to work with your team soon. Thanks for your time.
                        My most relevant app can be found <a asp-controller="AppShowcase" asp-action="TrafficViolation"> here </a><br /><br />

                        <span class="lead">Overview</span><br /><br />
                        I am currently sharpening my skills in C# I am very close to "Expert-level" per pluralsight's evaluations.
                        Your looking at the portfolio of a self taught developer. I focus my efforts on writing maintanable and reusable code.
                        While developing and implementing these apps by myself with a full time job and practically no real experience, I learned very quickly that the only way for me to
                        complete projects is to write code that is readable, loosely-coupled, and well guarded.<br /><br />

                        Here is what I have been up to: <br />
                        <a target="_blank" href="https://app.pluralsight.com/profile/brett-burtson">My Pluralsight Profile <small>(Opens New Tab)</small></a><br /><br />


                        I'd like to take a moment to put this website in the portfolio spotlight also. This website is hosted and maintained on my own local server.  It is a .NET Core
                        Web application Hosted on IIS for windows 10.  Additionally, every Database these applications depend on are hitting a locally administrated SQL server.
                        Some (LocalDb), and some on the full SQL Server platform supporting remote connections (SQLEXPRESS).<br /><br />
                        
                        Thanks for your time! Regards! -Brett


                    </p>
                    
                </div>
            </div>
   
    </div>
</div>
@*<label class="label label-primary">Username</label>
    <input class="input-group" />*@



