@{
    ViewData["Title"] = "App - Traffic Violations";
}
@section css{
    <link href="~/lib/angular-loading-bar/build/loading-bar.min.css" rel="stylesheet" />
    <link href="~/css/map/tva.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmKW1O0cZiQfPS3Le-7ushh2F61dDo9r0&libraries=visualization"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-violations.js"></script>
    <script src="~/js/incidentApiService.js"></script>
    <script src="~/js/mainController.js"></script>
    <script src="~/js/mapController.js"></script>
    <script src="~/js/app-animations.js"></script>
}

<div class="row" ng-app="app-violations" ng-view>
</div>

